.mycard{
    cursor: pointer;
    background-color: var(--bgColor2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 0 0 rgba(218, 105, 212, 0.4), 10px 10px 0 0 rgb(128, 105, 218,0.7);
    position: relative;
             
}

.mycard .s-prompt{
    font-weight: 700;
    border-radius: 5px 5px 0 0;
    word-wrap: break-word;

}
.mycard .s-value{
    margin-top: 10px;
    font-size: 15px;
   line-height: 28px;
   word-wrap: break-word;

}
.mycard .del{ 
    display: none;
}
.mycard:hover .del{
    display: block;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: -10px;
    background-color: #FF7272;
    color: white;
    padding: 1px 7px 3px;
    border-radius: 5px;
}
.modal-header{
    background: linear-gradient(to right,  #cb7cd0 , #8069da);
    color: white;
    font-weight: 500;
    padding: 30px !important;
}

.modal-body{
    padding: 30px !important;
}
.modal-body pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.Toastify__toast{
    min-height: 0;
}
.Toastify__progress-bar--success{
    background-color: var(--primary-color);
}
.Toastify__toast svg{
    fill: var(--primary-color)
}
/* ----------------------  */
.cards{
    margin-top: 20px;
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-flow: wrap;
}