.nav{
    width: 200px;
    height: 90vh;
    box-shadow: 0 0 1px 1px rgb(224, 223, 223);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}


.nav .logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.nav .logo img{
    width: 70px;
    height: 70px;
}



.nav .tabs .tab{
    display: flex;
    padding: 5px 10px;
    gap: 10px
}

