.projects{
    margin: 0 20px;
    z-index: 1
}
.projects .sec1{
    display: flex;
    gap: 10px;
   
}
.projects .sec1 input{
    width: 100%;
    padding-left: 35px;
}
.projects .search-cont{
    position: relative;
    width: 100%
}
.projects .search-icon{
    position: absolute;
    top: 8.5px;
    left: 15px;
    color: var(--secondaryColor)
}
.projects .sec1 .iconCont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    width: 47px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
}


.projects .prompt{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background-color: var(--bgColor2);
    padding: 20px 20px;
    border-radius: 10px;
    align-items: center;
    
}
.proj-input{
    width: 80%;
    margin-left: 20px;
}
.proj-input:focus{
    border: none!important;
}
.projects .prompt h6{
    font-weight: bold;
    margin: 0;
    font-size: 1.2rem;
}

.prompt .surprise{
    background-color: #F5F5F5;
    color: black;
    font-weight: 100;
    padding: 4px 15px;
    border-radius: 30px;

}

.inputs-cont{
    display: flex;
    position: relative;
}
.inputs-cont .inputs{
    width: 100%;
}

.inputs-cont .inputs .input{
    margin-bottom: 20px;
}
.inputs-cont .inpx{
    position: relative
}
.cross-btn{
    display: none;
    font-size: 12px;
    padding: 10px 16px;
    background: #FF7272 !important;
    border-radius: 10px!important;
    z-index: 1;
    position: absolute;
    right: -25px;
    top: 3px;
}
.inputs-cont .input:hover .cross-btn{
    display: block;
}
.inputs-cont .input:focus .cross-btn{
    display: none;
}
.inputs-cont .inputs .input input{
    width: 100%;
    padding: 10px 20px;
}
.plus-btn{
    font-size: 18px;
    padding: 3px 13px 5px 13px;
    margin-left: 10px;
    position: absolute;
    right: -25px;
    bottom: 24px;
    border-radius: 10px!important;
}
/* .plusCont{
    display: flex;
    align-items: end;
    margin-bottom: 10px;
} */
.generate-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-flow: wrap;
    gap: 10px;
}
.generate-btns .other-btns{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
