.footer{
    background-color: var(--bgColor2);
    padding: 50px 30px 30px;
}
.footer .top{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.footer .top-left{
    display: flex;
    column-gap: 50px;
}
.footer .top-left div{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.footer .top-right{
    max-width: 300px;
    background-color: rgba(32, 60, 134, 0.05);
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer .bottom .terms{
    display: flex;
    column-gap: 20px;
}

.footer .bottom .logos{
    display: flex;
    column-gap: 20px;
}
.footer .bottom .logos div{
    border: 4px solid rgba(32, 60, 134, 0.05);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}