:root{
  --bgColor: #F8F9FA;
  --textColor: #2D3654;
  --textColor2: #f0f5f0;
  --primary-color: #15B497;
  --secondaryColor: #959BA5;
  --primary-font: 'Poppins', sans-serif;
}
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  font-family: var(--primary-font);
 }

 .app{
  box-sizing: border-box;
}

input[type=text]{
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  padding: 5px 10px;
}
input[type=text]:focus{
  outline: none;
  border: 1px solid var(--primary-color);
}
button{
  background: linear-gradient(to right,  #cb7cd0 , #8069da);
  padding: 6px 20px;
  color: var(--textColor2);
  border-radius: 30px !important;
}