.auth{
    min-width: 300px;
    min-height: 480px;
    /* width: 40%; */
    /* height: 65%; */
    max-width: 550px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.auth .card-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth .logo img{
    width: 70px;
}
.auth .card-bg{
    background: linear-gradient(to right,  #cb7cd0 , #8069da);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 15px;
}
.auth .card-content{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    padding: 20px;
}

.auth .card-title{
    text-align: center;
}

.auth .myform{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.auth .myform div{
    width: 70%;
}
.auth .myform input{
    all: unset;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 5px;
    width: 100%;
}
.auth .myform select{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 5px;
    width: 103%;
}
.auth .myform input:focus{
    border: 1px solid var(--primary-color)
}

.auth .f-auth{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-flow: wrap;
    justify-content: center;
    
}

.auth .f-auth .google{
    width: 55px;
}
.auth .f-auth .facebook{
    width: 65px;
    margin-top: -3px;
}